API_ID = 
API_HASH = 

# backup token for another bot "7059438923:AAFypLUwp4SInRXrNJAVQRd0WxmqS5quwxk" 
BOT_TOKEN = 

BOT_OWNER_ID = 

MONGO_DB_URI = 
MONGO_DB_NAME = 

# Optional
LOG_GROUP = 